{% extends 'padre.html' %}

{% block contenidoQueCambia %}

    <h2>Competitions '23</h2>

    <ul>

        {% for competitions in competitions %}
            <li>
                <a href="{% url 'DetalleCompetitions' competitions.id %}">{{competitions}}</a>
            </li>
            <div>
                <button>
                    <a href="{% url 'EliminaCompetitions' competitions.id %}">Eliminar</a>
                </button>
                <button>
                    <a href="{% url 'ActualizaCompetitions' competitions.id %}">Actualizar</a>
                </button>
            </div>
        {% endfor %}

    </ul>
    <a href="{% url 'CreaCompetitions' %}">Crear Competition</a>

{% endblock %}